[Desktop Entry]
Comment=A mixed dark and light theme for KDE
Name=Daniela-Mixed
X-KDE-PluginInfo-Author=Thea Barnes
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=thea@tsbarnes.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=com.tsbarnes.Daniela-Mixed
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/tsbarnes/Daniela
X-KDE-ServiceTypes=Plasma/LookAndFeel
